@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: #D5E1EF;
    height: 100vh;
    display: flex;
    align-items: center;
}

#main-card {
    width: 320px;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    padding: 16px;
}

img {
    width: 100%;
    border-radius: 10px;
}

#text-area {
    margin: 24px 16px;
    margin-top: 24px;
}

#heading, #description {
    font-family: "Outfit", sans-serif;
    margin-bottom: 16px;
}

#heading {
    font-weight: 700;
    color: #1F314F;
    font-size: 22px;
    text-align: center;
    line-height: 120%;
}

#description {
    font-weight: 400;
    color: #68778D;
    font-size: 15px;
    text-align: center;
    line-height: 140%;
}